<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link rel="shortcut icon" href="/src/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/static/css/styles.css">
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/javascript.js"></script>
</head>
<body class="body">
    <header class="header">
        <h3><i>La Librería</i></h3>
        <nav class="navbar">
            <div class="nav-item">
                <a href="/./././index.html">Inicio</a>
            </div>
            <div class="nav-item">
                <a href="./productos.html">Productos</a>
            </div>
            <div class="nav-item">
                <a href="./quienes_somos.html">Quiénes somos</a>
            </div>
            <div class="nav-item">
                <a href="./contacto.html">Contactanos</a>
            </div>
            <div class="nav-item">
                <a href="./index1.html">Consultas</a>
            </div>
        </nav>
        <button class="menu-toggle" aria-label="Toggle menu">
            ☰
        </button>
    </header>
    <main class="padding">
        <section class="section-mapa"
        >
        <div class="column-container">
            <div class="column presentation-text">
                <h2 class="secondary-title">Bienvenidos a La Librería</h2>
                <p>En <strong> La Librería</strong>, creemos que cada libro tiene el poder de transformar vidas. Nuestra misión es cultivar el amor por la lectura y fomentar el conocimiento a través de una cuidadosa selección de títulos que inspiran, educan y entretienen.</p>
                <h2 class="secondary-title">Quiénes Somos</h2>
                <p>Desde nuestros humildes comienzos, nos hemos dedicado a crear un espacio acogedor donde los amantes de los libros pueden explorar, descubrir y enamorarse de nuevas historias. Somos una librería independiente y editorial comprometida con la calidad literaria, ofreciendo una amplia gama de géneros y autores para lectores de todas las edades.</p>
                <p>En La Librería, cada página es un viaje, y estamos emocionados de acompañarte en cada paso del camino. ¡Te esperamos!</p>
            </div>
            <div class="column">
                <h2 class=secondary-title>Visítanos</h2>
                <div class="iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3419.7092092411935!2d-64.07605002541972!3d-31.006484576553877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432632b499e6b6b%3A0xcb588d0a19ce035e!2sImperio%20Boreal%20Libreria!5e0!3m2!1ses-419!2sar!4v1710590908401!5m2!1ses-419!2sar"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
           
            
        </section>
    </main>
    <footer class="footer"
    >
        <div class="section-footer"
        >
            <div>
                <a href="https://www.instagram.com/" 
                target="_blank" 
                class="a"
                title="Ir a la página de Instagram"
                >
                    <img src="/src/img/instagram.svg" 
                        alt="Imagen de Instagram"
                        class="img"
                    >   
                </a>
            </div>

            <div>
                <a href="https://www.facebook.com/" 
                    target="_blank" 
                    class="a"
                    title="Ir a la página de Facebook"
                >
                    <img src="/src/img/facebook.svg" 
                        alt="Imagen de Instagram"
                        class="img"
                    >   
                </a>
            </div>   


            <div>
                <a href="https://www.youtube.com/" 
                    target="_blank" 
                    class="a"
                    title="Ir a la página de YouTube"
                >
                    <img src="/src/img/youtube.svg" 
                        alt="Imagen de Instagram"
                        class="img"
                    >   
                </a>
            </div>   

            <div>
                 <a href="https://www.twitter.com/" 
                   target="_blank" 
                   class="a"
                   title="Ir a la página de Twitter"
                >
                    <img src="/src/img/twitter-x.svg" 
                        alt="Imagen de Instagram"
                        class="img"
                    >   
                </a>
            </div>   
        </div>

        <div class="section-h5"
            >
            <h5 class="h5"
            >
            Derechos reservados @2024
            </h5>
        </div>
    </footer>
</body>
</html>
